@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Lora";
  src: url("./assets/fonts/Lora-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Lora";
  src: url("./assets/fonts/Lora-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Playfair Display";
  src: url("./assets/fonts/PlayfairDisplay-Bold.ttf");
  font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.header-block__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 62px 0 59px 0;
}
.header-block__logo {
  color: #10375C;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 24px;
}
.header-block__menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 40px;
  margin: 9px 0 0 68px;
}
.header-block__menu-link {
  text-decoration: none;
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  color: #222831;
}
.header-block__menu-link:hover {
  color: #FF5722;
}
.header-block__login-btn {
  background-color: transparent;
  border: none;
  color: #FF5722;
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  width: 92px;
  height: 43px;
  cursor: pointer;
  padding: 0 0 0 10px;
}
.header-block__login-btn:hover {
  color: #222831;
}
.header-block__singup-btn {
  background-color: #FF5722;
  border: none;
  font-family: "Lato";
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  width: 103px;
  height: 43px;
  cursor: pointer;
}
.header-block__singup-btn:hover {
  box-shadow: 3px 3px 7px #9A9A9A;
}

.intro-block__subtitle {
  font-family: "Lato";
  font-size: 20px;
  font-weight: 500;
  color: #222831;
  margin: 0;
}
.intro-block__subtitle:after {
  content: "";
  display: inline-block;
  position: relative;
  width: 73px;
  height: 2px;
  vertical-align: middle;
  margin-left: 16px;
  background: #222831;
}
.intro-block__content {
  display: flex;
  justify-content: space-between;
}
.intro-block__title {
  font-family: "Lora";
  font-weight: 700;
  font-size: 52px;
  line-height: 67px;
  color: #10375C;
  max-width: 667px;
  margin: 12px 0 32px 0;
}
.intro-block__title_orange {
  color: #DD2C00;
}
.intro-block__text {
  font-family: "Lato";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #6A6A6A;
  max-width: 382px;
  margin: 22px 0 0 0;
}

.spaces-block__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 103px 0 48px 0;
}
.spaces-block__title {
  font-family: "Lora";
  font-size: 40px;
  font-weight: 700;
  color: #10375C;
  margin: 7px 0 10px 0;
}
.spaces-block__subtitle {
  font-family: "Lato";
  font-weight: 500;
  font-size: 18px;
  max-width: 452px;
  color: #9A9A9A;
  margin: -5px 0 0 55px;
  line-height: 28px;
}
.spaces-block__nav-arrows {
  margin: 38px 0 0 0;
}
.spaces-block__cards {
  display: flex;
  justify-content: space-between;
  margin: 0 0 33px 0;
  min-width: 0;
}
.spaces-block__card-item {
  width: 350px;
}
.spaces-block__card-text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  color: #222831;
  text-align: center;
  margin: 27px 0 0 0;
}
.spaces-block__card-image-container {
  position: relative;
  height: 419px;
  overflow: hidden;
}
.spaces-block__card-image-container_last {
  height: 468px;
}
.spaces-block__card-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 72px;
  height: 72px;
  background-color: #FF5722;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spaces-block__card-link:hover {
  background-color: #9A9A9A;
}
.spaces-block__card-main {
  width: 350px;
  height: 467px;
  background-color: #10375C;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.spaces-block__card-main-stripes {
  position: absolute;
  top: 16px;
  right: 16px;
}
.spaces-block__card-main-content {
  padding: 0 0 38px 0;
}
.spaces-block__card-main-title {
  font-family: "Lora";
  font-weight: 400;
  font-size: 32px;
  margin: 0 0 16px 0;
}
.spaces-block__card-main-text {
  margin: 0;
  font-family: "Lato";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  padding-left: 12px;
}
.spaces-block__card-main-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 255px;
  height: 72px;
  background-color: #FF5722;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 22px;
}
.spaces-block__card-main-link:hover {
  background-color: #9A9A9A;
}
.spaces-block__card-main-link-text {
  font-family: "Lato";
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  padding: 0 13px 0 25px;
}
.spaces-block__nav {
  text-align: center;
  font-family: "Lato";
  font-weight: 500;
  font-size: 18px;
  color: #222831;
}
.spaces-block__nav_gray {
  color: #9A9A9A;
  padding-right: 1px;
}
.spaces-block__nav-container {
  width: 160px;
  margin: 0 auto 12px;
}

.arrow-nav-block__prev-btn, .arrow-nav-block__next-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.arrow-nav-block__prev-btn {
  margin-right: 19px;
}

.why-block__container {
  display: flex;
  justify-content: space-between;
  height: 421px;
  margin: 115px 0;
}
.why-block__list {
  display: flex;
  list-style: none;
  flex-flow: column wrap;
  justify-content: center;
  width: 491px;
  row-gap: 75px;
  padding: 0;
  margin: 0;
  column-gap: 102px;
}
.why-block__item {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin: 0 0 0 12px;
}
.why-block__item-title {
  margin: 0;
  font-family: "Lora";
  font-weight: 400;
  font-size: 32px;
  color: #10375C;
}
.why-block__item-subtitle {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #9A9A9A;
  margin: 10px 0 0 0;
}
.why-block__content {
  max-width: 540px;
  color: #FFFFFF;
  background-color: #10375C;
}
.why-block__subtitle {
  font-family: "Lato";
  font-weight: 500;
  font-size: 20px;
  margin: 59px 0 0 0;
}
.why-block__subtitle:after {
  content: "";
  display: inline-block;
  position: relative;
  width: 73px;
  height: 2px;
  vertical-align: middle;
  margin-left: 16px;
  background: #FFFFFF;
}
.why-block__title {
  font-family: "Lora";
  font-size: 40px;
  font-weight: 700;
  margin: 10px 0 25px 0;
  line-height: 51px;
}
.why-block__text {
  font-family: "Lato";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.why-block__subtitle, .why-block__title, .why-block__text {
  padding: 0 53px 0 54px;
}

.facilities-block__subtitle {
  font-family: "Lato";
  font-size: 20px;
  font-weight: 500;
  color: #222831;
  margin: 0;
}
.facilities-block__subtitle:after {
  content: "";
  display: inline-block;
  position: relative;
  width: 73px;
  height: 2px;
  vertical-align: middle;
  margin-left: 16px;
  background: #222831;
}
.facilities-block__title {
  font-family: "Lora";
  font-size: 40px;
  font-weight: 700;
  color: #10375C;
  max-width: 570px;
  margin: 12px 0 55px 0;
  line-height: 51px;
}
.facilities-block__info {
  display: flex;
  justify-content: space-between;
  margin: 0 0 92px 0;
}
.facilities-block__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.facilities-block__item-btn {
  width: 293px;
  height: 72px;
  background-color: transparent;
  border: none;
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  padding-left: 24px;
  cursor: pointer;
}
.facilities-block__item-btn:hover {
  background-color: #DFDFDF;
}
.facilities-block__item-btn_active {
  background-color: #FF5722;
  color: #FFFFFF;
}
.facilities-block__item-btn_active:hover {
  background-color: #FF5722;
}
.facilities-block__image {
  width: 729px;
  height: 453px;
  object-fit: cover;
}

.gallery-block {
  position: relative;
}
.gallery-block__head {
  position: absolute;
  z-index: 11;
  width: 496px;
  right: 0;
  top: 20px;
}
.gallery-block__title-container {
  max-width: 496px;
  position: relative;
  z-index: 1;
}
.gallery-block__subtitle {
  font-family: "Lato";
  font-size: 20px;
  font-weight: 500;
  color: #222831;
  margin: 0;
}
.gallery-block__subtitle:after {
  content: "";
  display: inline-block;
  position: relative;
  width: 73px;
  height: 2px;
  vertical-align: middle;
  margin-left: 16px;
  background: #222831;
}
.gallery-block__title {
  font-family: "Lora";
  font-size: 40px;
  font-weight: 700;
  color: #10375C;
  max-width: 570px;
  line-height: 51px;
  margin: 11px 0 37px 0;
}
.gallery-block__nav-arrows {
  margin-left: 7px;
}
.gallery-block__list {
  margin-bottom: 115px;
  display: flex;
  align-items: flex-end;
  list-style: none;
  min-width: 0;
  width: 1110px;
  padding: 0;
}
.gallery-block__item {
  width: 350px;
  height: 606px;
  display: flex;
  align-items: flex-end;
}
.gallery-block__item-img {
  object-fit: cover;
  width: 350px;
  height: 350px;
}

.whouses-block {
  text-align: center;
}
.whouses-block__title {
  font-family: "Lora";
  font-size: 40px;
  font-weight: 700;
  color: #10375C;
  margin: 0 0 30px 0;
}
.whouses-block__subtitle {
  font-family: "Lato";
  font-weight: 500;
  font-size: 18px;
  color: #9A9A9A;
  margin: 0;
}
.whouses-block__list {
  display: flex;
  list-style: none;
  gap: 60px;
  padding: 0;
  margin: 59px auto 113px;
  max-width: 1175px;
  align-items: center;
}

.reviews-block__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.reviews-block__subtitle {
  font-family: "Lato";
  font-size: 20px;
  font-weight: 500;
  color: #222831;
  margin: 0;
}
.reviews-block__subtitle:after {
  content: "";
  display: inline-block;
  position: relative;
  width: 73px;
  height: 2px;
  vertical-align: middle;
  margin-left: 16px;
  background: #222831;
}
.reviews-block__title {
  font-family: "Lora";
  font-size: 40px;
  font-weight: 700;
  color: #10375C;
  margin: 11px 0 55px 0;
  max-width: 399px;
  line-height: 51px;
}
.reviews-block__nav-arrows {
  margin: 0 0 49px 0;
}
.reviews-block__list-container {
  position: relative;
  width: 1110px;
  height: 393px;
  overflow: hidden;
  margin-bottom: 22px;
}
.reviews-block__list {
  display: flex;
  list-style: none;
  padding: 0;
  position: absolute;
  margin: 0;
}
.reviews-block__item {
  width: 445px;
  height: 393px;
  background-color: #10375C;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviews-block__item-text {
  width: 365px;
  margin: 47px auto 0;
  line-height: 26px;
}
.reviews-block__item-author {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 40px;
  margin-bottom: 39px;
}
.reviews-block__item-author-name {
  font-family: "Lato";
  font-weight: 700;
  font-size: 18px;
  margin: 7px 0 0 0;
}
.reviews-block__item-author-position {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  margin: 11px 0 0 0;
}
.reviews-block__nav {
  text-align: center;
}
.reviews-block__nav-container {
  width: 160px;
  margin: 0 auto;
}

.faq-block {
  text-align: center;
}
.faq-block__title {
  font-family: "Lora";
  font-size: 40px;
  font-weight: 700;
  color: #10375C;
  margin: 108px auto 53px;
  max-width: 578px;
  line-height: 51px;
}
.faq-block__list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin-bottom: 56px;
}
.faq-block__item {
  width: 350px;
  height: 171px;
  font-family: "Lora";
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  box-shadow: 0px 0px 24px #dfdfdf;
}
.faq-block__item_main {
  background-color: #FF5722;
  color: #FFFFFF;
  box-shadow: none;
}
.faq-block__item-title {
  width: 270px;
  margin: 42px auto 0;
}
.faq-block__item-btn {
  cursor: pointer;
  width: 48px;
  height: 64px;
  transform: rotate(90deg);
  border: none;
  background-color: #FF5722;
  margin-top: 31px;
  box-shadow: 5px 5px 34px #dfdfdf;
}
.faq-block__item-btn:hover {
  background-color: #9A9A9A;
}
.faq-block__item-btn_main {
  background-color: #FFFFFF;
  box-shadow: 5px 5px 34px rgba(221, 44, 0, 0.24);
}
.faq-block__item-btn_main:hover {
  background-color: #dfdfdf;
}
.faq-block__link-container {
  margin-top: 50px;
}
.faq-block__link {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: #FF5722;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 26px;
}

.news-block {
  background-color: #F8F8F8;
}
.news-block__head {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 63px 0 0 0;
}
.news-block__title {
  font-family: "Lora";
  font-size: 40px;
  font-weight: 700;
  color: #10375C;
  margin: 0;
}
.news-block__link {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: #FF5722;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin: 7px 10px 0 0;
}
.news-block__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 97px 0;
  gap: 30px;
  margin: 46px 0 0 0;
}
.news-block__item {
  width: 350px;
  height: 320px;
  background-color: #FFFFFF;
}
.news-block__item:hover {
  box-shadow: 5px 5px 34px #dfdfdf;
  opacity: 0.8;
}
.news-block__item_main {
  width: 730px;
}
.news-block__item_main-content {
  max-width: 315px;
  margin: 32px 32px 0 32px;
}
.news-block__item_main-title {
  font-family: "Lora";
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  margin: 0;
  color: #222831;
}
.news-block__item_main-text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #9A9A9A;
  line-height: 26px;
  margin: 25px 0 16px 0;
}
.news-block__item_main-author {
  display: flex;
  align-items: center;
  gap: 23px;
}
.news-block__item_main-author-name {
  font-family: "Lato";
  font-weight: 500;
  font-size: 18px;
  color: #10375C;
  margin: 0;
}
.news-block__item_main-author-position {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #9A9A9A;
  margin: 7px 0 0 0;
}
.news-block__item-link {
  text-decoration: none;
}
.news-block__item-link_main {
  display: flex;
}
.news-block__item-title {
  font-family: "Lora";
  font-weight: 400;
  font-size: 22px;
  color: #222831;
  margin: 10px 0 8px 16px;
  line-height: 28px;
}
.news-block__item-author-name {
  font-family: "Lato";
  font-weight: 500;
  font-size: 16px;
  color: #9A9A9A;
  margin: 4px 0 16px 16px;
}

.footer-block {
  background-color: #0D2C4A;
}
.footer-block__container {
  display: flex;
  padding: 61px 0 91px 0;
}
.footer-block__info {
  max-width: 255px;
}
.footer-block__title {
  font-family: "Lora";
  font-weight: 700;
  font-size: 52px;
  color: #FFFFFF;
  margin: 0;
}
.footer-block__text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #F8F8F8;
  margin: 18px 0 24px 0;
  line-height: 26px;
  opacity: 85%;
}
.footer-block__social-list {
  display: flex;
  align-items: center;
  gap: 21px;
  list-style: none;
  padding: 0;
}
.footer-block__nav-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  gap: 68px;
  max-width: 730px;
  margin: 9px 0 0 125px;
}
.footer-block__nav-menu-column-title {
  font-family: "Lato";
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  opacity: 50%;
  margin: 20px 0 32px 0;
}
.footer-block__nav-menu-list {
  list-style: none;
  padding: 0;
}
.footer-block__nav-menu-item {
  margin: 0 0 15px 0;
}
.footer-block__nav-menu-item-text {
  text-decoration: none;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.footer-block__nav-menu-contacts {
  margin: 0 0 22px 0;
}
.footer-block__nav-menu-link:hover {
  color: #FF5722;
}

.intro-block__slider .swiper-pagination {
  margin-bottom: 26px;
}

.intro-block__slider .swiper-pagination-bullet {
  width: 16px;
  height: 4px;
  border-radius: 0;
  background-color: #FFFFFF;
  opacity: 0.5;
  --swiper-pagination-bullet-horizontal-gap: 2px;
}

.intro-block__slider .swiper-pagination-bullet-active {
  width: 40px;
  height: 4px;
  border-radius: 0;
  background-color: #FF5722;
  opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 2px;
}

.intro-block__slider .swiper-button-prev,
.intro-block__slider .swiper-button-next {
  color: #FFFFFF;
}

.spaces-block__nav-container .swiper-pagination-bullet {
  width: 40px;
  height: 4px;
  border-radius: 0;
  background-color: #DFDFDF;
  opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 0;
}

.spaces-block__nav-container .swiper-pagination-bullet-active {
  background-color: #FF5722;
}

.reviews-block__nav-container .swiper-pagination-bullet {
  width: 53px;
  height: 4px;
  border-radius: 0;
  background-color: #DFDFDF;
  opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 0;
}

.reviews-block__nav-container .swiper-pagination-bullet-active {
  background-color: #FF5722;
}

.gallery-block .swiper-slide {
  width: auto !important;
  margin: 0 15px;
}

.swiper-slide-active .gallery-block__item, .swiper-slide-active .gallery-block__item-img {
  width: 445px;
  height: 606px;
}

/*# sourceMappingURL=styles.css.map */
